<body>
  <h1>Book Details</h1>
  <p>
    <a href="/books/<%= @book['id'] %>/edit"><button>Edit Book</button></a>
    <a href="/"><button>Home Page</button></a>
  </p>
  <p>
    <b>Title:</b>
    <%= @book['title'] %>
  </p>
  <p>
    <b>Id:</b>
    <%= @book['id'] %>
  </p>
  <p>
    <b>Author:</b>
    <%= @book['author'] %>
  </p>
  <p>
    <b>Year:</b>
    <%= @book['year'] %>
  </p>
</body>
